$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.table {
  border: 5px solid blue;
  width:  100px;
  height: 100px;
  empty-cells: show;
}

.square {
  width:  100px;
  height: 100px;
  text-align: center;
  border-color: 5px solid blue;
  empty-cells: show;
}


table tr
{
    border:4px solid black;
}

table td
{
    border:4px solid black;
}
//   margin: 10px;
// }
//   font-color: blue;
//   font-size: :10px;
// }
