$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#title {
  text-align: center;
  font-size: 35px
}

.container-fluid{
  background-color: #e0f0f3
}

#win {
  text-align: center;
  font-size: 30px
}
#try {
  text-align: center;
  font-size: 30px
}

#gameOver{
  text-align: center;
  font-size: 30px
}

.square {
  width:  100px;
  height: 100px;
  text-align: center;
  border-color: 5px solid blue;
  empty-cells: show;
  font-size: 50px
}


table tr
{
    border:4px solid black;
    margin-right: auto;
    margin-left: auto;
}

table td
{
    border:4px solid black;
    margin-right: auto;
    margin-left: auto;
}
//   margin: 10px;
.tic-tac-toe {
  margin-right: auto;
  margin-left: auto;
}
